@font-face
{
  font-family: 'Linux Libertine';
  font-weight: 400;
  font-style: normal;
  src: local('Linux Libertine Regular'),
       url(//brick.a.ssl.fastly.net/fonts/linuxlibertine/400.woff) format('woff');
}
@font-face
{
  font-family: 'Linux Libertine';
  font-weight: 400;
  font-style: italic;
  src: local('Linux Libertine Italic'),
       url(//brick.a.ssl.fastly.net/fonts/linuxlibertine/400i.woff) format('woff');
}
@font-face
{
  font-family: 'Linux Libertine';
  font-style: normal;
  font-weight: 600;
  src: local('Linux Libertine Bold'),
       url(//brick.a.ssl.fastly.net/fonts/linuxlibertine/600.woff) format('woff');
}

@font-face
{
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: normal;
  src: url(//brick.a.ssl.fastly.net/fonts/sourcecodepro/300.woff) format('woff');
}
@font-face
{
  font-family: 'Source Code Pro';
  font-weight: 600;
  font-style: normal;
  src: local('Source Code Pro'),url(//brick.a.ssl.fastly.net/fonts/linuxlibertine/600.woff) format('woff');
}


html
{
  height: 100%;
  background-color: #fff;
  font: 1.5em/1.5 'Linux Libertine', serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}
body
{
  min-height: 100%;
  margin: 0;
  padding: 0 1em;
}

pre,
code,
tt,
kbd,
samp
{
  font: 0.8em/1.5 'Source Code Pro', monospace;
}
pre code,
pre tt,
pre kbd,
pre samp
{
  font-size: 1em;
}

q
{
  quotes: "“" "”" "‘" "’";
}

.header
{
  text-align: center;
}
  .header__title
  {
    font-size: 4em;
    line-height: 1em;
    font-weight: normal;
  }
    .header__title a
    {
      text-decoration: none;
      color: #900;
    }
      .header__title b
      {
        font-family: Source Code Pro, monospace;
      }
  .header__title,
  .header__slogan
  {
    margin: 0;
    padding: 0;
  }

.post__header
{
  text-align: center;
  margin-top: 2em;
}
.post__header h2,
.post__header p
{
  margin:  0;
  padding: 0;
  line-height: 1;
}
.post__title
{
  font-size: 5em;
}
.post__tags p,
.post__tags ul,
.post__tags li
{
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
  /**
   * SR-only
   */
  .post__tags p
  {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
  }

.postTag::before
{
  content: '#';
}

.post__repost
{
  background-color: ivory;
  border: burlywood solid thin;
  border-width: thin 0;

  margin:  0.5em -1em;
  padding: 1em;
}

.post__pagination dt,
.post__pagination dd
{
  display: inline;
  margin:  0;
  padding: 0;
}
  .post__pagination dt::before
  {
    content: " ";
    display: table;
    width: 100%;
  }
  .post__pagination dd::before
  {
    content: ": ";
  }

.post__content,
.archive,
.footer
{
  max-width: 30em;
  margin: 0 auto;
  line-height: 2em;
}

.footer
{
  -webkit-column-width: 14em;
  -webkit-column-gap:   2em;
  column-width: 14em;
  column-gap:   2em;
}

.archive > ol
{
  list-style: disc;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */


ins
{
  background-color: lightcyan;
}
  ins.block
  {
    display: block;
    text-decoration: none;
    border: lightseagreen solid thin;
    border-width: thin 0;
    margin: .5em -1em;
    padding: 1em;
  }

/**
 * Code.
 */

code,
pre
{
  border: thin solid #ddd;
  background-color: #eef;
}
pre
{
  border-width: thin 0;
}
code
{
  padding: 0 .2em;
}
pre > code
{
  border: none;
  background-color: transparent;
}

/**
 * [1]: Collapse half of margin before and after,
 * [2]: other half is filled with padding
 * [3]: If pre is wrapped in .highlight, it handles collapsing
 * [4]: Grow to the left with long lines, if it's wider than
 *      calc(50vw + $content-width / 2),
 *      page will get horizontal scroll
 */
pre,
.highlight
{
  /* [1] */
  margin: -0.75em -1em;
}
  pre
  {
    /* [4] */
    display: inline-block;
    min-width: 100%;
    /* [2] */
    padding:  0.75em 1em;
  }
    .highlight > pre
    {
      /* [3] */
      margin: 0;
    }

/* terminal */
pre.terminal
{
  background-color: #333;
}

pre.terminal
{
  border-color: #000;
  color: #FFF;
}
