$line-height:   2em;
$content-width: 30em;

$font-main: 1em   Linux Libertine, serif;
$font-code: 0.9em Source Code Pro, monospace;

$brand-colour: #900;
$code-bg: 0;
$code-fg: 0;
$term-bg: 0;
$term-fg: 0;
$info-bg:     0;
$info-border: 0;
$ins-bg:     0;
$ins-border: 0;
$del-bg:     0;
$del-border: 0;

$width-tiny:    20em;
$width-small:   40em;
$width-medium:  60em;
$width-big:     80em;
$width-bigger:  100em;
$width-big-ass: 120em;
