---
layout: default
---

<section class=archive>

  <h2>entries’ tags</h2>

  {% assign max_tag_size = 0 %}
  {% for tag in site.tags %}
    {% if tag[1].size > max_tag_size %}
      {% assign max_tag_size = tag[1].size %}
    {% endif %}
  {% endfor %}

  {% for tag_size in (1..max_tag_size) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == tag_size %}
        <h3 id="{{ tag[0] }}" class=hashtag>{{ tag[0] }}</h3>
        {% assign posts = tag[1] %}
        {% include post_list.html posts=posts renderNoTags=true %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  <h3 id="{{ tag[0] }}">Posts without tags</h3>
  <ol class=posts__list>
    {% for post in site.posts %}
      {% if post.tags.size == 0 %}
        {% include post_list_item.html post=post renderNoTags=true %}
      {% endif %}
    {% endfor %}
  </ol>
</section>

