---
layout: default
---
<article class=post>
  <header class=post__header>
    <h2 class=post__title>
      {% if page.link %}
        <a href="{{ page.link }}">
          {% include inline-markdown.html content=page.title %}
        </a>
      {% else %}
        {% include inline-markdown.html content=page.title %}
      {% endif %}
    </h2>
    <div class=post__meta>
      <p>
        <time>{{ page.date | date:"%Y-%m-%d" }}</time>
        </p>
      {% include post_tags.html tags=page.tags linkify=true %}
    </div>
  </header>

  <section class=post__content>
    {% if page.tumblr_url %}
      <p class="post__repost post__repost--tumblr">
        <small>
          Originally posted at
          <a href="{{ page.tumblr_url }}">saji-codes tumblr</a>.
        </small>
      </p>
    {% endif %}

    {{ content }}
  </section>
</article>

<nav class=post__pagination>
  <dl>
    {% if page.previous.url %}
      <dt class=post__paginationLabel>Previous entry</dt>
      <dd>
        <a href="{{page.previous.url}}">{{page.previous.title}}</a>
      </dd>
    {% endif %}
    {% if page.next.url %}
      <dt class=post__paginationLabel>Next entry</dt>
      <dd>
        <a href="{{page.next.url}}">{{page.next.title}}</a>
      </dd>
    {% endif %}
    <dt>
      <a href="/">All entries</a>
    </dt>
  </dl>
</nav>

<nav class=post__related>
  <h3>Related entries</h3>

  {% include post_list.html posts=site.related_posts limit=3 %}
</nav>
