.post__repost
{
  background-color: ivory;
  border: burlywood solid thin;
  border-width: thin 0;

  margin:  0.5em -1em;
  padding: 0 1em;

  & > small
  {
    display: block;
    font-size: 0.8em;
    margin: 0.5em 0;
  }
}

.post__pagination dt,
.post__pagination dd
{
  display: inline;
  margin:  0;
  padding: 0;
}
  .post__pagination dt::before
  {
    content: " ";
    display: table;
    width: 100%;
  }
  .post__pagination dd::before
  {
    content: ": ";
  }

pre,
code,
tt,
kbd,
samp
{
  font: $font-code;
}
pre code,
pre tt,
pre kbd,
pre samp
{
  font-size: 1em;
}

q
{
  quotes: "“" "”" "‘" "’";
}

ins
{
  background-color: lightcyan;
}
  ins.block
  {
    display: block;
    text-decoration: none;
    border: lightseagreen solid thin;
    border-width: thin 0;
    margin: .5em -1em;
    padding: 1em;
  }

/**
 * Code.
 */

code,
pre
{
  border: thin solid #ddd;
  background-color: #eef;
}
pre
{
  border-width: thin 0;
}
code
{
  padding: 0 .2em;
}
pre > code
{
  border: none;
  background-color: transparent;
}

/**
 * [1]: Collapse half of margin before and after,
 * [2]: other half is filled with padding
 * [3]: Grow to the left with long lines, if it's wider than
 *      calc(50vw + $content-width / 2),
 *      page will get horizontal scroll and that's fine
 */
p + .highlight
{
  /* [1] */
  margin-top:    (- $line-height / 2);
}
.highlight
{
  margin-left: -1em;
  margin-right: -1em;
  /* [1] */
  margin-bottom: (- $line-height / 2);

  > pre
  {
    /* [2] */
    padding: ( $line-height / 2 ) 1em;

    @media screen
    {
      /* [3] */
      display: inline-block;
      min-width: 100%;
    }
    @media print
    {
      white-space: pre-wrap;
    }
  }
}

/* terminal */
pre.terminal
{
  background-color: #333;
}

pre.terminal
{
  border-color: #000;
  color: #FFF;
}
