.post__note
{
  background-color: ivory;
  border: burlywood solid thin;
  border-width: thin 0;

  margin:  0.5em -1em;
  padding: 0 1em;

  & > small
  {
    display: block;
    font-size: 0.8em;
    margin: 0.5em 0;
  }
}

.post__pagination dt,
.post__pagination dd
{
  display: inline;
  margin:  0;
  padding: 0;
}
  .post__pagination dt::before
  {
    content: " ";
    display: table;
    width: 100%;
  }
  .post__paginationLabel::after
  {
    content: ": ";
  }

pre,
code,
tt,
kbd,
samp
{
  font: $font-code;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
}
pre code,
pre tt,
pre kbd,
pre samp
{
  font-size: 1em;
}

abbr
{
    font-variant: small-caps;
    text-transform: lowercase;
}

q
{
  quotes: "“" "”" "‘" "’";
}

blockquote
{
    margin: $line-height / 2
            $line-height / -2;
    background: aliceblue;
    padding: 0
             $line-height / 2;
    border: #b3b3ff thin;
    border-style: solid none;
    position: relative;
}

blockquote::before,
blockquote::after
{
    color: #b3b3ff;
    position: absolute;
    line-height: 1em;
    font-size: 2.5em;
}
blockquote::before
{
    content: '“';
    top:  0.1em;
    left: 0.1em;
}
blockquote::after
{
    content: '„';
    bottom:  0.1em;
    right: 0.1em;
}

ins
{
  background-color: lightcyan;
}
  ins.block
  {
    display: block;
    text-decoration: none;
    border: lightseagreen solid thin;
    border-width: thin 0;
    margin: .5em -1em;
    padding: 1em;
  }

hr
{
  border-width: 1px 0 0 0;
  margin: 2em auto;
  margin-bottom: calc(2em - 1px);
  max-width: 50%;
}

/**
 * Code.
 */

code,
pre
{
  border: thin solid #ddd;
  background-color: #eef;
}
pre
{
  border-width: thin 0;
}
code
{
  padding: 0 .2em;
}
pre > code
{
  display: block;
  border: none;
  background-color: transparent;
}

/**
 * [1]: Collapse half of margin before and after,
 * [2]: other half is filled with padding
 * [3]: Grow to the left with long lines, if it's wider than
 *      calc(50vw + $content-width / 2),
 *      page will get horizontal scroll and that's fine
 */
.highlight
{
  margin:
    1em
    -1em
    -1 * (1em / 2);

  > pre
  {
    margin: 0;
    /* [2] */
    padding:
      (1em / 2)
      1em;

    @media screen
    {
      /* [3] */
      display: inline-block;
      min-width: 100%;
    }
    @media print
    {
      white-space: pre-wrap;
    }
  }
}
p + .highlight
{
  /* [1] */
  margin-top: -1 * (1em / 2);
}

/* terminal */
pre.terminal
{
  background-color: #333;
}

pre.terminal
{
  border-color: #000;
  color: #FFF;
}
