$break-point-dates-on-side:   "all and (min-width: 20em)";
$break-point-dates-full-size: "all and (min-width: 25em)";

$date-width: 5em;
$small-date-font-size: 0.8em;


html
{
  height: 100%;
  background-color: white;
  font: $font-main;
  color: $text-colour;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
  font-variant-numeric: oldstyle-nums;
  margin: 0;
  padding: 0;

  @media all and (min-width: $width-tiny)  { font-size: 1.25em; }
  @media all and (min-width: $width-small) { font-size: 1.5em;  }
}
body
{
  min-height: 100%;
  margin: 0;
  padding: 0 1em;
}

a
{
  text-decoration-skip-ink: auto;

  &:link
  {
    color: $link-colour;
    text-decoration: underline;
    text-decoration-color: $link-underline-colour;
  }
  &:visited
  {
    color: $link-visited-colour;
    text-decoration-color: $link-visited-underline-colour;
  }
  &:active,
  &:focus
  {
    color: $link-active-colour;
    text-decoration-color: $link-active-underline-colour;
  }
}

.header
{
  text-align: center;
}
  .header__title
  {
    font-size: 1em;
    line-height: 1em;
    font-weight: normal;

    @media all and (min-width: $width-small)   { font-size: 1.5em; }
    @media all and (min-width: $width-medium)  { font-size: 2.5em; }
    @media all and (min-width: $width-big)     { font-size: 3.5em; }
    @media all and (min-width: $width-bigger)  { font-size: 4.5em; }
    @media all and (min-width: $width-big-ass) { font-size: 5.5em; }
  }
    .header__title a
    {
      text-decoration: none;
      color: $brand-colour;
      text-decoration-color: currentColor;

      /** underline text (not the comments brackets) on hover */
      &:hover span,
      &:focus span
      {
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }
    }
      .header__title b
      {
        font: $font-code;
      }
  .header__title
  {
    margin: 0;
    padding: 0;
  }

.post__header
{
  text-align: center;
  margin-top: 1em;

  h2,
  p
  {
    margin:  0;
    padding: 0;
    line-height: 1em;
  }

  .post__meta
  {
    margin-top: 0.25em;
  }
}
.post__title
{
  font-size: 2em;

  @media all and (min-width: $width-small)   { font-size: 2.5em; }
  @media all and (min-width: $width-medium)  { font-size: 3.5em; }
  @media all and (min-width: $width-big)     { font-size: 4.5em; }
  @media all and (min-width: $width-bigger)  { font-size: 5.5em; }
  @media all and (min-width: $width-big-ass) { font-size: 6.5em; }
}
.posts__list
{
  list-style: none;
  padding: 0;

  & > li
  {
    margin-bottom: 0.5em;

    & > time
    {
        display: block;
        line-height: 1em;
        font-size: $small-date-font-size;
    }

    & > .post__tags
    {
      font-size: 0.8em;
    }

    @media #{ $break-point-dates-on-side }
    {
        padding-left: $date-width * $small-date-font-size / 1em;

        &::after
        {
            clear: both;
            content: '';
            display: table;
            width: 100%;
        }

        & > time
        {
          display: inline-block;
          float: left;
          width: $date-width;
          margin-left: - $date-width;
          line-height: inherit;
          position: static;
        }
    }

    @media #{ $break-point-dates-full-size }
    {
        padding-left: $date-width;

        & > time
        {
          font-size: 1em;
        }
    }

  }
}
.post__meta time,
.posts__list time
{
  color: $secondary-text-colour;
}
.post__tags,
.post__tags p,
.post__tags ul,
.post__tags li
{
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
  .post__tags p
  {
    @include sr-only();
  }

.post__content::after
{
  $size: 2em;

  content: '❧';
  display: block;
  text-align: center;
  color: $secondary-text-colour;
  font-family: serif;
  font-size: $size;
  margin: $size * 2/3 0;
}

.hashtag::before
{
  content: '#';
  opacity: 0.7;
}

.post__content,
.post__pagination,
.post__related,
.archive,
.footer
{
  max-width: $content-width;
  margin: 0 auto;
}

.content
{
  margin-bottom: $line-height;
}


.footer
{
  margin-top: 2 * $line-height;

  -webkit-column-width: 14em;
  -webkit-column-gap:   2em;
  column-width: 14em;
  column-gap:   2em;

  p
  {
    margin-top: 0;
  }

  ul
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

i.u-nickname
{
  font-style: normal;

  &::before
  {
    content: '‘';
  }
  &::after
  {
    content: '’';
    /* kerning for i + ’ */
    padding-left: 1px;
  }
}
