$line-height:   2em;
$content-width: 30em;

$font-main: 1em   Linux Libertine, serif;
$font-code: 0.9em Source Code Pro, monospace;

$brand-colour: #900;
$text-colour: black;
$secondary-text-colour: #555;
$link-colour: #3636E2;
$link-underline-colour: $link-colour;
$link-visited-colour: #9B3D9B;
$link-visited-underline-colour: $link-visited-colour;
$link-active-colour: red;
$link-active-underline-colour: $link-active-colour;

$code-bg: 0;
$code-fg: 0;
$term-bg: 0;
$term-fg: 0;
$info-bg:     0;
$info-border: 0;
$ins-bg:     0;
$ins-border: 0;
$del-bg:     0;
$del-border: 0;

$width-tiny:    20em;
$width-small:   40em;
$width-medium:  60em;
$width-big:     80em;
$width-bigger:  100em;
$width-big-ass: 120em;
